<?xml version="1.0" encoding="UTF-8"?>

<web-app>

    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>com.example.ContactServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>

</web-app>
