body {
    background-color: #d9d9d9;
}


.logo {
    font-size: 20px;
    font-weight: bold;
}


.profile-container {
    background-color: #e3b98c;
    padding: 30px;
    border-radius: 10px;
}


.student-image img {
    width: 200px;
    height: 200px;
}


@media (max-width: 768px) {
    .profile-container {
        flex-direction: column;
        text-align: center;
    }
}